{{!-- editor.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT License. --}}

<h2>Editor</h2>
<form>
    <textarea rows="20" placeholder="Enter your text message..."></textarea>
    <br/>
    <input type="submit" class="kaomoji-button" />
</form>
