{{!-- editor.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT License. --}}

<h2>Editor</h2>
<form method="post" class="kaomoji-form">
    <div class="kaomoji-full kaomoji-grid-row">
        <textarea
            name="message"
            rows="20"
            class="kaomoji-code kaomoji-grid-column kaomoji-mb kaomoji-mr"
            placeholder="Enter your text message..."></textarea>
        <textarea
            name="response"
            rows="20"
            class="kaomoji-code kaomoji-grid-column kaomoji-mb"
            readonly="readonly">{{response}}</textarea>
    </div>
    <br/>
    <input type="submit" class="kaomoji-button kaomoji-form-right"/>
</form>
