{{!-- editor.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT License. --}}

<h2>Editor</h2>
<form method="" action="" class="kaomoji-form">
    <textarea
        rows="20"
        class=" kaomoji-code kaomoji-form-block kaomoji-full"
        placeholder="Enter your text message..."></textarea>
    <br/>
    <input type="submit" class="kaomoji-button kaomoji-form-right"/>
</form>
