{{!-- layout.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT License. --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kaomoji - Ishan Pranav</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
    <h1>Kaomoji - Ishan Pranav</h1>
    <ul>
        <li><a href="/">Editor</a></li>
        <li><a href="/dictionary">Dictionary</a></li>
    </ul>
    {{{ body }}}
</body>
</html>
