{{!-- layout.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT License. --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kaomoji - Ishan Pranav</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>  
</head>
<body>
    <div class="kaomoji-container">
        <header>
            <h1>
                <img src="img/logo.png" alt="Smile" width="24" height="24"/>
                <span>Kaomoji</span>
            </h1>
            <a href="/editor">Editor</a>
            <span>|</span>
            <a href="/dictionary">Dictionary</a>
        </header>
        <main>{{{ body }}}</main>
        <footer>
            <span>Copyright &copy; 2024 Ishan Pranav</span>
            <br/>
            <span>Licensed under the MIT license.</span>
            <br/>
            <span>
                <span>The logo for this project was designed by </span>
                <a
                    href="https://www.flaticon.com/free-icons/smile"
                    target="_blank">
                    Ruslan Babkin on Flaticon.
                </a>
            </span>
        </footer>
    </div>
</body>
</html>
